body {
  background: #111;
  color: white;
  font-family: sans-serif;
  padding: 30px;
}

button {
  background: #ffce00;
  border: 0;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
}
